<%-include('../partials/head.ejs') %>


</head>
<body>
    <%- include('../partials/navigation.ejs') %>

    <main>
        <% if(products) %>
    </main>
</body>

<%- include('../partials/end.ejs') %>