<%-include('../partials/head.ejs') %>


</head>
<body>
    <%- include('../partials/navigation.ejs') %>

    <% if(orders.items.length>0) { %>

        <ul>

        <% orders.items.forEach( (item) => { %>
                

            <li>
                <h2>Order : # <%= item._id %></h2>
            </li>
        }) 

        </ul>

     <%} else { %>

        <h1>No order made till now.</h1>
        
       <% } %> 
</body>

<%- include('../partials/end.ejs') %>