<%-include('../partials/head.ejs') %>


</head>
<body>
    <%- include('../partials/navigation.ejs') %>

    <main>
        <% if(products.length >0) { %>

         
        <% } else { %>
            
            
         <% } %>   
    </main>
</body>

<%- include('../partials/end.ejs') %>