<%-include('../partials/head.ejs') %>


</head>
<body>
    <%- include('../partials/navigation.ejs') %>

   <main class="centered">
    <h1><%= product.title %></h1>

    <hr>
    
   </main>
</body>

<%- include('../partials/end.ejs') %>